<section>
  <md-progress-linear md-mode="indeterminate" data-ng-show="showProgress"></md-progress-linear> 

  <br/>


  <div class="container">
    <div class="card z-depth-2">
      <div class="card-header">
          <h2>Formulário de Busca</h2>
      </div>      
      <div class="card-body card-padding">
        <form role="form" class="row">
          <div class="col-sm-2">
            <md-input-container>
              <label>Fabricante</label>
              <input type="text" data-ng-model="produto.fabricante" id="fabricante" class="form-control input-sm">
            </md-input-container>           
          </div> 
          <div class="col-sm-2">
            <md-input-container>
              <label>Modelo</label>
              <input type="text" data-ng-model="produto.modelo" id="modelo" class="form-control input-sm">
            </md-input-container>
          </div>   
          <div class="col-sm-2">
            <md-input-container>
              <label>Especifiação</label>
              <input type="text" data-ng-model="produto.especificacao" id="especificacao" class="form-control input-sm">
            </md-input-container>           
          </div>   
          <div class="col-sm-2">
            <md-input-container>
              <label>Loja</label>
              <input type="text" data-ng-model="produto.loja" id="loja" class="form-control input-sm">
            </md-input-container>            
          </div>   
          <div class="col-sm-2">
            <md-input-container>
              <label>Local</label>
               <input type="text" data-ng-model="produto.local" id="local" class="form-control input-sm">
            </md-input-container>            
          </div>           
        </form>
      </div>
    </div>
    <div class="table-responsive z-depth-2">
      <table id="table" class="table table-hover table-striped"> 
        <thead>
          <tr>
             <th>Fabricante</th>
             <th>Modelo</th>
             <th>Especificação</th>
             <th>Preço</th>
             <th>Loja</th>
             <th>Local</th>
          </tr>
          <tr>
            <th colspan="6">
              <md-divider ng-if="!$last"></md-divider>
            </tr>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="produto in produtos | startFrom:currentPage*pageSize | limitTo:pageSize">
            <td>
               {{produto.fabricante}}
            </td>
            <td>
               {{produto.modelo}}
            </td>
            <td>
              {{produto.especificacao}}
            </td>
            <td>
              {{produto.preco | currency: "R$ "}}
            </td>
            <td>
              {{produto.loja}}
            </td>
            <td>
              {{produto.local}}
            </td>
          </tr>            
        </tbody>
        <tfoot>
          <tr>
            <td colspan="6" align="right">
              <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1" class="btn btn-default waves-effect waves-button waves-float">
                  Anterior
              </button>
              {{currentPage+1}}/{{numberOfPages()}}
              <button ng-disabled="currentPage >= produtos.length/pageSize - 1" ng-click="currentPage=currentPage+1" class="btn btn-default waves-effect waves-button waves-float">
                  Próximo
              </button>
            </td>
          </tr>
        </tfoot>
      </table>   
    </div>
  </div>
</section>