<section>
  <md-progress-linear md-mode="indeterminate" data-ng-show="showProgress"></md-progress-linear> 
  <br/>
   
  <div class="container">
    <div layout="row" data-ng-show="tipos">     
      <div class="col-sm-4" ng-repeat="tipo in tipos">
        <a href="#!/produto/{{tipo._id}}/list">
          <div class="card z-depth-2">
            <div class="card-header bgm-blue">
              <h2>{{tipo.nome}}</h2>            
            </div>
            <div class="card-body card-padding">
                {{total}} produtos 
            </div>
          </div>
        </a>
      </div>
    </div> 
  </div> 
</section>